.category-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.category-href {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 5px;
}

.category-href:hover {
    text-decoration-color: white !important;
}

.category-href p {
    color: white;
    z-index: 3;
    font-size: 1.7rem;
    pointer-events: none;
    text-align: center;
    max-width: 100%;
}

.category-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: background-color 200ms;
}

.category-href img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-overlay:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

.search-bar-container {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.category-search-bar {
    width: 100%;
    padding: 5px 20px;
    border-radius: 50px;
    background-color: #e8e8e8;
    outline: none;
    border: .125rem solid transparent;
    transition: all 0.1s;
}

.category-search-bar:focus {
    padding: 5px 20px;
    outline: none;
    border: .125rem solid #8690FA;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01), 0 0 8px rgba(34, 139, 230, 0.5);
    transition: all 0.1s;
}

.search-button {
    border-radius: 20px;
    width: 100px;
    padding: 8px;
}


