.page {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    margin: auto;
    padding: 50px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
}

.title {
    font-weight: bold;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.image {
    width: 20vh;
    height: 20vh;
}

.text {
    font-size: larger;
}
