.site-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.create-job-post-form {
    margin-top: 2%;
    padding: 3% 15%;
}

.form-header {
    position: relative;
    display: inline-block;
    width: 100%;
}

.form-header h3 {
    margin-bottom: 0;
}

.form-header p {
    color: gray;
    margin-bottom: 0;
}

.form-hr {
    margin-top: 0;
    width: 90%;
    left: 0;
    margin-left: 0;
    text-align: left;
}

.form-header svg {
    position: absolute;
    right: -5%;
    top: -50%;
    height: 300%;
    width: 30%;
}

.form-step {
    margin: 15px 0 40px 0;
}

.form-step-input {
    margin-left: 10px;
    width: 100%;
}

.header-label {
    font-weight: bold;
    font-size: 18px;
}

.package-container {
    padding: 0 10%;
}

.package-form {
    padding: 5% 15%;
    flex-basis: 100%;
}

.package-input label {
    font-weight: normal;
    font-size: 16px;
}

.package-input {
    font-size: 14px;
    margin-bottom: 25px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.package-input .form-check-label {
    line-height: 1;
}

.package-form .btn-light {
    background-color: #e8e8e8;
}

.package-form .btn-light:hover {
    background-color: #c8c8c8;
}

.custom-file-label {
    margin-right: 30%;
    background-color: #e8e8e8;
    border: transparent;
}

/*TODO: Internacionalizar el contenido*/
.custom-file-label::after {
    background-color: #ffc800;
    content: "Examinar" !important;
}


.location-list {
    overflow: auto;
    height: 200px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.location-list .form-check-input {
    margin-left: 0;
}

.location-name {
    margin-left: 25px;
}

.input-group-text {
    background-color: #485696 !important;
    color: white;
}

.form-control[readonly] {
    background-color: #c3c3c3;
}

.package-header {
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    background-color: #485696;
    color: white;
    font-size: 1.2rem;
    padding: 0 1rem;
    border-radius: 20px;
}


