.step-container-wrapper {
    width: 100%;
    margin: 0 auto;
}

.step-container {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 30px 50px 10px 50px;
    width: 100%
}

.overview-container {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 30px 30px 10px 30px;
    width: 100%
}

.overview-container h4 {
    font-weight: bold;
}

.step-frame {
    position: relative;
    width: 600px;
    margin: 50px auto;
}

.step-container h4 {
    font-weight: bold;
}

.step-subtitle {
    color: #a7a7a7;
    display: inline-block;
}

.step-header-label {
    display: flex;
    font-weight: bold;
}

.input-container {
    padding: 20px 0;
    width: 100%;
}

.button-controls {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.help-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7a7a7;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    text-align: center;
    transition: background-color 0.1s;
    margin-left: 5px;
    overflow: visible;
}

.help-tooltip p {
    margin-bottom: 0;
}

.help-tooltip:hover {
    background-color: #c3c3c3;
    transition: background-color 0.1s;
}

.tooltip-text {
    text-align: left;
    padding: 10px;
    margin-bottom: 0;
}

.step-header-subtitle {
    padding: 0 40px;
    color: #a7a7a7;
    margin-bottom: 20px;
}

.package-input label {
    font-size: 16px;
}

.package-input {
    font-size: 14px;
    margin-bottom: 25px;
}

.input-group-text {
    background-color: #485696 !important;
    color: white;
}

.form-control[readonly] {
    background-color: #c3c3c3;
}

.form-control[readonly]:focus {
    outline: 0;
    border: transparent;
    box-shadow: none;
}

.file-input-container {
    background-color: #e8e8e8;
    border-radius: 5px;
    justify-content: space-between;
}

.cancel-btn {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
}

.location-list {
    overflow: auto;
    height: 200px;
}

.location-list .form-check-input {
    margin-left: 0;
}

.location-name {
    margin-left: 25px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.list-group-item {
    margin-bottom: 0;
}

.list-group-item:hover {
    background-color: #e2e2e2;
}

.step-container-wrapper:not(:first-of-type) {
    display: none;
}

#step-wrapper1 {
    display: block;
}

.overview-field-container {
    background-color: #485696;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 15px;
}

.overview-field-header {
    color: white;
    font-weight: bold;
}

.overview-field-data-container {
    background-color: #343e6d;
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
    text-align: center;
    color: white;
    overflow-wrap: break-word;
    width: 100%;
}

.overview-field-data-container p {
    margin-bottom: 0;
}

.overview-content .row {
    margin-top: 30px;
}

#zoneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.zoneTag {
    background-color: white;
    color: #343e6d;
    padding: 0 10px;
    border-radius: 10px;
    margin: 3px;
}

#imageCarousel {
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #343e6d;
    color: white;
}

.carousel-img {
    height: 100px;
    min-width: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
}

.form-error-list {
    color: red;
    display: list-item;
    margin-left: 20px;
    margin-bottom: 7px;
}

.form-error-container {
    padding: 10px;
    margin: 30px auto;
    background-color: rgba(255, 225, 225, 1);
    border: 1px solid red;
    border-radius: 10px;
    width: 70%;
}

.package-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button[aria-expanded=true] .package-info .fa-chevron-down {
    display: none;
}

button[aria-expanded=false] .package-info .fa-chevron-up {
    display: none;
}

.accordion i {
    font-size: 20px;
    margin: auto 0 auto 1vw;
}


.package-desc {
    background-color: #EAEAEA;
}

.package-text {
    word-wrap: break-word;
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
}

.package-price p {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.end-items {
    flex-direction: row;
    justify-content: flex-end;

}

.end-items-item {
    display: flex;
    flex-direction: column;
}

#package-title-overview {
    margin-bottom: 0;
    overflow-wrap: break-word;
    width: 60%;
    max-lines: 4;
}

.display-none {
    display: none;
}

#hourly-suffix {
    color: white;
    background-color: #FC7A1E;
    padding: 4px;
    border-radius: 4px;
    margin: 0 2px;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

#price-chip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-package-reminder {
    background-color: #2F3965;
    border-radius: 20px;
    border: 10px solid #8690FA;
    color: white;
    width: max-content;
    margin: 30px auto;
    padding: 10px 15px;
}

.zone-search {
    background-image: none !important;
    border-color: white !important;
}

.zone-search:focus {
    box-shadow: none !important;
}
