.navbar-color {
    background-color: #485696;
}

img {
    height: 6vh;
    width: auto;
}

a.nav-link {
    font-size: 17px;
    font-weight: bold;
}

a.navbar-brand {
    margin-right: 2rem !important;
}

.navbar-login-button, .navbar-login-button:active, .navbar-login-button:link, .navbar-login-button:hover {
    color: white;
    margin-right: 30px;
    box-shadow: none;
}

.transparent-navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
