.nav-link {
    font-size: 0.95rem !important;
    font-weight: normal !important;
}

.navbar {
    height: 65px;
}

.navbar-color {
    background-color: #485696;
}

img {
    height: 6vh;
    width: auto;
}

a.nav-link {
    font-size: 17px;
    font-weight: bold;
}

a.navbar-brand {
    margin-right: 2rem !important;
}

.navbar-link-button, .navbar-link-button:active, .navbar-link-button:link {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 10px;
    text-decoration: none;
    box-shadow: none;
}

.navbar-link-button:hover {
    color: white;
    text-decoration: none;
}

.transparent-navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar-modal-icon {
    height: 80px;
}

.navbar-location-list-group {
    overflow: auto;
    max-height: 200px;
    width: 350px;
    margin: 20px auto;
}

.navbar-location-list-group-item {
    justify-content: start !important;
    margin-bottom: 10px;
    background-color: #eeeeee;
    font-size: 1rem;
    padding: 5px;
}

.navbar-location-list-group-item:hover {
    background-color: #e2e2e2;
}

.navbar-modal-container {
    padding: 25px;
    text-align: center;
}

.navbar-has-search {
    margin: auto;
}

.navbar-form-control {
    border-radius: 2rem !important;
    width: 80% !important;
}

.navbar-has-search .navbar-form-control {
    padding-left: 2.375rem;
}

.navbar-has-search .navbar-form-control-feedback {
    position: absolute;
    z-index: 2;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#navbarDropdown {
    padding: 0 10px;
}

#navbar-avatar {
    margin: 0 !important;
}

.navbar-user-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 10px;
    object-fit: cover;
}

.navbar-dropdown-toggle.dropdown-toggle::after, .navbar-dropdown-toggle.dropdown-toggle:focus {
    content: none;
    box-shadow: none;
}

.navbar-dropdown {
    width: 300px;
    margin-left: auto;
    margin-right: 30px;
    right: 0;
    padding: 5px;
}

.navbar-dropdown-details {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
}

.navbar-dropdown-details p {
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-dropdown-name {
    font-size: 1rem;
    font-weight: bold;
    -webkit-line-clamp: 3;
    margin: 0;
}

.navbar-dropdown-email {
    color: gray;
    -webkit-line-clamp: 2;
    margin: 0;
}

.navbar-dropdown .dropdown-item {
    color: gray !important;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 1rem;
}

.navbar-dropdown .dropdown-item:hover {
    color: #acacac;
    background-color: #e8e8e8;
}

.navbar-dropdown-icon {
    width: 50px;
    padding-left: 10px;
}

.vl {
    border-left: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    height: 1.2rem;
    margin: 0 10px;
}

.dropdown-menu {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: none;

}

#search-input {
    border-radius: 2rem;
    background-color: white;
    padding-right: 40px;
}

#search-input {
    border-radius: 2rem;
    background-color: white;
    border: .2rem solid transparent;
    padding-right: 40px;
    transition: border 200ms;
}

#search-input:focus {
    border: .2rem solid #9ca5ff;
    transition: border 200ms;
}

#search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background-color: transparent;
    border-radius: 2rem;
    color: #7e7e7e;
    border: none;
    transition: background-color 200ms;
}

#search-button:focus {
    outline: none;
}

#search-button:hover {
    border: none;
    background-color: #00000020;
    transition: background-color 200ms;
}

#search-button:active {
    background-color: #00000035;
}