.navbar-color {
    background-color: #485696;
}

img {
    height: 6vh;
    width: auto;
}

a.nav-link {
    font-size: 17px;
    font-weight: bold;
}

a.navbar-brand {
    margin-right: 2rem !important;
}

.navbar-link-button, .navbar-link-button:active, .navbar-link-button:link, .navbar-link-button:hover {
    color: white;
    margin-right: 30px;
    text-decoration: none;
    box-shadow: none;
}

.transparent-navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar-modal-icon {
    height: 80px;
}

.navbar-location-list-group {
    overflow: auto;
    max-height: 200px;
    width: 350px;
    margin: 20px auto;
}

.navbar-location-list-group-item {
    justify-content: left !important;
    margin-bottom: 10px;
    background-color: #eeeeee;
    font-size: 18px;
    padding: 5px;
}

.navbar-location-list-group-item:hover {
    background-color: #e2e2e2;
}

.navbar-modal-container {
    padding: 25px;
    text-align: center;
}

.has-search {
    margin: auto;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.navbar-user-img {
    border-radius: 50%;
    height: 50px;
}

.navbar-dropdown-toggle {
    margin: 0 0 0 20px;
}

.navbar-dropdown-toggle.dropdown-toggle::after, .navbar-dropdown-toggle.dropdown-toggle:focus {
    content: none;
    box-shadow: none;
}

.navbar-dropdown {
    width: 300px;
    margin-left: auto;
    margin-right: 30px;
    right: 0;
    padding: 10px;
}

.navbar-dropdown-details {
    margin-bottom: 15px;
    display: flex;
    font-size: 18px;
}

.navbar-dropdown-details p {
    padding-left: 15px;
}

.navbar-dropdown-name {
    font-weight: bold;
    margin: 0;
}

.navbar-dropdown-email {
    color: gray;
    margin: 0;
}

.navbar-dropdown .dropdown-item {
    color: gray !important;
    cursor: pointer;
    padding: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.navbar-dropdown .dropdown-item:hover {
    color: #acacac;
}

.navbar-dropdown-icon {
    width: 50px;
    padding-left: 10px;
}
