.error-page {
    display: flex;
    position: relative;
    text-align: -webkit-center;
    height: 80%;
}

.error-container {
    margin: auto;
    background-color: white;
    padding: 5vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-banner-img {
    width: 100%;
    height: 26vh;
    object-fit: cover;
}

.home-banner-gradient {
    height: 27vh;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(239, 239, 239, 1) 95%);
    position: absolute;
    width: 100%;
}

.error-image {
    width: 100%;
    top: 30px;
    z-index: 1;
}

.error-title {
    font-size: 36px;
    font-weight: bold;
}

.error-description {
    max-width: 500px;
    text-align: center;
    font-size: 24px;
}