
.btn-block {
    padding: 4% 0;
}

.job-display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.job-card {
    flex-basis: 22.98%;
}

.index-category-list-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.index-category-href {
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);;
    border-radius: 20px;
    width: 150px;
    height: 170px;
    text-align: center;

    margin: 20px;
}

.index-category-href:hover {
    cursor: pointer;
}

.index-category-href img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 5px;
}

.index-category-href p {
    color: #485696;
    font-size: 1.1rem;
}

.landing-row-shadow {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.landing-row {
    width: 80vw;
    max-width: 1184px;
    margin: 0 auto;
    padding: 30px 0;

}

.result-div img {
    height: 60%;
    margin-bottom: 25px;
}

.hirenet-blue-btn{
    color: #fcb839;
    margin-top: 15px;
}

.landing-bottom {
    background-image: url("/resources/images/publish-landing-bg-1.svg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
    padding-top: 60px;
    color: #485696;
    height: 350px;
}
