.price-container {
    margin-top: 15px;
}

.job-card-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}


.job-card-title {
    font-weight: bold;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
}

.job-card-no-reviews {
    background-color: #7e7e7e;
    display: flex;
    align-items: center;
}

.job-card-no-reviews p {
    margin: 0;
}

.job-card-no-reviews i {
    color: white;
    margin-right: 5px;
    font-size: 14px;
}

.job-card-type {
    color: gray;
    margin-bottom: 10px;
}

.job-card-detail {
    display: inline;
    vertical-align: middle;
    word-break: break-word;
    height: auto;
}

p.job-card-detail {
    position: absolute;
    left: 55px;
}

i.job-card-detail {
    font-size: 25px;
    color: gray;
}

.job-card {
    margin: 15px 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    width: 18rem;
}

.job-card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.job-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
