.content-container-transparent {
    width: 80vw;
    max-width: 984px;
}

.card-body {
    padding: 20px !important;

}

.side {
    width: 3vw;
    justify-content: center;
}

.carousel {
    height: 200px;
}

.carousel img {
    object-fit: cover;
}

.center {
    flex: 1;
    width: 90%;
}

.chip {
    background-color: white;
    border-radius: 12px;
    color: #485696;
    padding: 6px;
    margin: 0 10px 20px;
    text-align: center;
    line-height: 1;
}

.card-title p {
    margin-left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    word-break: break-word;
    margin-bottom: 0;
}

.card-title i {
    margin-top: 3px;
    font-size: 1.6rem;
    line-height: 1;
    word-break: break-word;
}

.summary {
    display: flex;
    border-radius: 8px;
    width: 100%;
    justify-content: center;
}

.summary-item {
    background-color: white;
    border-radius: 15px;
    padding: 6px;
    display: flex;
    margin: 8px 15px;
    border: 5px solid #fab739;
    justify-content: space-evenly;
}

.summary-item img {
    margin: 0 5px;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.summary-item p {
    margin: 0 8px;
    text-align: left;
    word-wrap: break-word;
    font-weight: bold;
}

.summary-item i {
    font-size: 34px;
    align-self: center;
}

.summary a:hover {
    text-decoration: none;
}

/* profile item */
.profile-item, .profile-item:link {
    width: 250px;
    color: black;
}

.profile-item:hover {
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.profile-item p {
    width: 60%;
    font-size: 1.1rem;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

/* rate item */
.rate-item {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.rate-item p {
    max-width: 100%;
    font-size: 1rem;
}

.rate-item .custom-row {
    justify-content: center;
}

.rate-item h2 {
    margin-bottom: 0;
}

.rate-item p {
    text-align: center;
}

.rate-item .custom-row .review-count {
    color: grey;
    font-size: 15px;
    margin: 0;
}

.rate-item .custom-row .rating {
    margin-left: 0;
}

.rate-item .custom-row .rating .star {
    color: gold;
    font-size: 15px;
}

.rate-item .opinion {
    color: #485696;
    font-size: 16px;
    opacity: 57%;
    text-decoration: none;
    align-self: center;
    cursor: pointer;
}

/* contracts item*/

.contracts-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: normal !important;
}

.contracts-item p {
    font-size: 1rem;
}

.contracts-item .profile-completed-works {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    background: #485696;
}

.contracts-item .profile-completed-works-outline {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fcb839;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.two-column-item {
    width: 49%;
}

.available-hours {
    margin: 20px;
    height: 60%;
    background-color: #EAEAEA;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.available-hours p {
    justify-content: center;
    margin: 0;
    font-size: 1.1rem;
    word-break: break-word;
}

.zones {
    margin: 5vh 3vw;
    justify-content: center;
}

.zones p {
    background-color: #7e7e7e;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px 20px;
    text-align: center;
    line-height: 1;
    font-size: 1.25rem;
}

.package-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.package-info p {
    color: white;
}

button[aria-expanded=true] .package-info .fa-chevron-down {
    display: none;
}

button[aria-expanded=false] .package-info .fa-chevron-up {
    display: none;
}

.accordion i {
    font-size: 28px;
    margin: auto 0 auto 1vw;
}

.package-title {
    font-size: 1.1rem;
    font-weight: bold;
    min-width: 300px;
    margin-left: 20px;
    margin-bottom: 0;
}

.package-desc {
    background-color: #EAEAEA;
}

.package-text {
    word-wrap: break-word;
    font-size: 18px;
    margin: 0;
}

.package-price p {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.end-items {
    flex-direction: row;
    justify-content: flex-end;

}

.end-items-item {
    display: flex;
    flex-direction: column;
}

/*Alternative button*/

.requestServiceBtn a {
    font-weight: bold;
    background-color: #8690FA;
    border: transparent;
    color: white;
}

.requestServiceBtn a:active, .requestServiceBtn a:focus {
    background-color: #8690FA !important;
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem rgba(52, 62, 109, 0.35) !important;
    color: white;
}

.requestServiceBtn a:hover {
    background-color: #6877e0;
    color: white;
}

.edit-button, .edit-button:link {
    display: inline-block;
    margin: 0;
    justify-content: flex-end;
    color: #485696;
    padding: 5px 10px;
}

.edit-button:hover {
    text-decoration: none;
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 300ms;
}

.edit-button p {
    font-size: 1rem;
}

.edit-button i {
    font-size: 1.5rem;
    line-height: 22px;
    margin-right: 5px;
}

.owner-options-vl{
    border-color: #485696 !important;
}

.delete-button, .delete-button:link {
    display: inline-block;
    margin: 0;
    justify-content: flex-end;
    color: red !important;
    padding: 5px 10px;
}

.delete-button:hover {
    text-decoration: none;
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 300ms;
}

.delete-button p {
    font-size: 1rem;
}

.delete-button i {
    font-size: 1.5rem;
    line-height: 22px;
    margin-right: 5px;
}

.add-package-button {
    margin-left: auto;
}

.add-package-button i {
    font-size: 26px;
    line-height: 32px;
    margin-right: 5px;
}

.add-package-button p {
    margin-top: 4px;
}

.inactive-text {
    font-size: 1rem;
}
