
.card-body {
    padding: 0;
}

.side {
    width: 3vw;
    justify-content: center;
}

.carousel {
    height: 200px;
}

.carousel img {
    object-fit: cover;
}

.center {
    flex: 1;
    width: 90%;
}

.card-title p {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    word-break: break-word;
    margin-bottom: 0;
}

.card-title i {
    margin-left: 3vw;
    margin-top: 3px;
    font-size: 32px;
    line-height: 1;
    word-break: break-word;
}

.summary {
    display: inline-flex;
    border-radius: 8px;
    width: 100%;
}

.summary-item {
    background-color: white;
    border-radius: 15px;
    padding: 6px;
    display: inline-flex;
    margin: 8px 15px;
    border: 5px solid #fab739;
}

.summary-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
}

.summary-item p {
    margin: auto 14px;
    text-align: left;
    word-wrap: break-word;
    font-weight: bold;
}

.summary-item i {
    color: gray;
    font-size: 32px;
    align-self: center;
    margin-left: 5px;
}

.summary a:hover{
    text-decoration: none;
}

/* profile item */
.profile-item,.profile-item:link{
    color: black;
    flex: 1;
}
.profile-item:hover{
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    flex: 1;
}
.profile-item p{
    width: 100%;
    font-size: 22px;
}
/* rate item */
.rate-item{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.rate-item p{
    max-width: 100%;
    font-size: 21px;
}
.rate-item .custom-row {
    justify-content: center;
}
.rate-item h2{
    margin-bottom: 0;
}
.rate-item p{
    text-align: center;
}
.rate-item .custom-row .review-count{
    color: grey;
    font-size: 15px;
    margin-bottom: 3vh;
}

.rate-item .custom-row .rating{
    margin-left:0;
    margin-bottom: 3vh;

}
.rate-item .custom-row .rating .star{
    color: gold;
    font-size: 15px;
}

.rate-item .opinion{
    color: #485696;
    font-size: 16px;
    opacity: 57%;
}

/* contracts item*/

.contracts-item{
    flex: 1;
}
.contracts-item p{
    font-size: 21px;
}

.available-hours {
    margin: 0 3vw;
    background-color: #EAEAEA;
    padding: 12px;
    border-radius: 8px;
}

.available-hours p {
    justify-content: center;
    margin: 0;
}

.zones {
    margin: 0 3vw;
}

.zones p {
    background-color: #7e7e7e;
    color: white;
    border-radius: 12px;
    padding: 10px;
    margin: 0 10px 20px;
    text-align: center;
    line-height: 1;
}

.package-info {
    display: flex;
    align-items: center;
}

.accordion i {
    font-size: 28px;
    margin: auto 0 auto 1vw;
}

.package-title {
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    margin-left: 20px;
    margin-bottom: 0;
}

.package-desc {
    background-color: #EAEAEA;
}

.package-text {
    word-wrap: break-word;
    font-size: 18px;
    margin: 0;
}

.package-price p {
    font-size: 14px;
    margin: 0;
}
