.login-card {
    width: 500px;
    height: 600px;
    margin: 15vh auto auto;
}

.login-title {
    color: white;
    font-weight: bold;
}

/*background para login y register*/
.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("/resources/images/background.jpg");
}

/*login y register*/
.bottom-link {
    color: #485696;
    text-align: center;
    font-size: 16px;
}

.submit-button-container {
    text-align: center;
}

.custom-input {
    margin-bottom: 2vh;
    font-size: 16px;
}

.custom-label {
    font-weight: bold;
}

.custom-password {
    padding-right: 30px;
}

.password-eye {
    z-index: 4;
    align-self: center;
    position: absolute;
    right: 10px;
}

.password-eye a{
    color: #7e7e7e !important;
}
