.account-sections {
    width: 25%;
    margin-right: 10px;
    min-height: 0;
    padding: 0;
}

.account-settings {
    width: 75%;
    margin-left: 10px;
    min-height: 0;
    padding: 0;
}

.main-body {
    display: flex;
    align-items: flex-start;
}

.options-title {
    margin: 30px 20px 10px 20px;
    font-weight: bold;
}

.divider-bar {
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    margin: 0;
}

.nav-option {
    display: flex;
    min-height: 50px;
    padding: 0;
}

.account-option {
    margin: auto 0 auto 0;
    color: black;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.nav-option:hover {
    background-color: #efefef;
}

.active {
    background-color: #efefef;
}

.option-icon {
    margin-left: 15px;
    margin-right: 10px;
    min-width: 27px;
    min-height: 27px;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    color: darkorange;
    background-color: white;
    border: 4px solid darkorange;
}

.security-icon {
    color: white;
    background-color: #485696;
}

.logout-icon {
    color: white;
    background-color: red;
}

.orange-line {
    display: inline-block;
    border-left: 3px solid darkorange;
}

.blue-line {
    display: inline-block;
    border-left: 3px solid #485696;
}

.empty-line {
    display: inline-block;
    border-left: 3px solid transparent;
}

.options-subtitle {
    margin: 20px 20px 10px 20px;
    font-weight: bold;
}

.custom-password {
    padding-right: 30px;
}

.custom-password {
    padding-right: 30px;
}

.password-eye a {
    color: #7e7e7e !important;
}

.form-section {
    padding: 10px 30px 20px 30px;
}

.data-row {
    margin-bottom: 20px;
}

.spaced-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.success-text {
    margin: 20px;
    color: green;
    font-weight: bold;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.btn-pro {
    background-color: #FCB839;
    border-color: #FCB839;
    border-radius: 10px;
    font-size: large;
    padding: 10px 20px 10px 20px;
}

.img-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-input {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.file-input-container {
    background-color: #e8e8e8;
}

