.contract-service {
    flex: 1;
}

.contract-buttons-card {
    min-width: 230px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 15px;
    display: table;
}

.contract-contact-text, .contract-contact-text:hover {
    color: #485696;
    cursor: pointer;
    text-decoration: none;
}

.contract-review-text, .contract-review-text:link, .contract-review-text:hover {
    text-decoration: none;
    color: gold;
}

.content-container {
    min-height: 0;
}
