.profile-img {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.profile-title {
    font-weight: bold;
}

.profile-subtitle {
    color: gray;
    margin: 0;
}

.profile-completed-works {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    background: #485696;
}

.profile-completed-works-outline {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fcb839;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-list-selector {
    display: flex;
    color: #485696;
    align-items: center;
}

/*REVIEW CARD*/
.reviews-rate {
    font-size: 80px;
    margin: 0;
}

.reviews-rate-stars i {
    font-size: 30px;
}

.reviews-summary-gray-text {
    color: gray;
    font-size: 18px;
    margin-bottom: 0;
    min-width: 2em;
}

.progress {
    margin: 0 10px;
    width: 100px;
    height: 8px;
}

.review-username {
    word-break: break-word;
    flex: 1;
    align-self: center;
    padding: 0;
    margin-left: 15px;
}

.review-title {
    font-weight: bold;
}

.review-link {
    color: #485696;
}

.review-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.profile-image-container {
    display: flex;
    justify-content: center;
}
