.qualify-service {
    background-color: #FCB839;
    padding: 2vw;
    word-break: break-word;
}

.content-container {
    padding: 0;
}

.qualify-service .card {
    max-width: 800px;
    margin: 2vh auto;
}

.qualify-form {
    margin: 30px auto;
    max-width: 500px;
}

.submit-rate-button-container {
    display: flex;
    justify-content: center;
}

/*INPUT ESTRELLAS*/
.qualify-rate {
    float: left;
}

.qualify-rate:not(:checked) > input {
    position: absolute;
    z-index: -1;
}

.qualify-rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 50px;
    color: #CCC;
}

.qualify-rate:not(:checked) > label:before {
    content: '★ ';
}

.qualify-rate > input:checked ~ label {
    color: #FCB839;
}

.qualify-rate:not(:checked) > label:hover,
.qualify-rate:not(:checked) > label:hover ~ label {
    color: #dea12a;
}

.qualify-rate > input:checked + label:hover,
.qualify-rate > input:checked + label:hover ~ label,
.qualify-rate > input:checked ~ label:hover,
.qualify-rate > input:checked ~ label:hover ~ label,
.qualify-rate > label:hover ~ input:checked ~ label {
    color: #dea12a;
}
