.register-card {
    display: flex;
    margin: 120px auto;
    width: 800px;
    flex-direction: column;
    justify-content: center;
}

.register-title {
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

.register-button-container {
    margin-top: 30px;
    text-align: center;
}

.form-error {
    margin-bottom: 0;
}

#register-form fieldset:not(:first-of-type) {
    display: none;
}

#register-step-1 {
    width: 100%;
}

.img-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#img-preview {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 200px;
    margin: 20px 0;
}

.file-input-container {
    background-color: #e8e8e8;
    border-radius: 5px;
}

.register-title-container {
    background-color: #343e6d;
    padding: 10px 10px 0 10px;
    width: max-content;
    border-radius: 20px 20px 0 0;
}