.search-title {
    display: inline-flex;
    white-space: pre;
}

.filter-card {
    padding: 15px;
    margin-right: 3vw;
    min-width: 10vw;
}

h5 {
    color: #485696;
}

.category {
    font-size: 16px;
    color: #a7a7a7;
    margin-left: 1vw;
}

.job-card {
    flex-basis: 30.3% !important;
}
