.search-results {
    flex: 1;
}

.search-title {
    display: inline-flex;
    word-break: break-word;
}

.filter-card {
    padding: 15px;
    margin-right: 3vw;
    min-width: 10vw;
}

h4 {
    color: #485696;
}

.category {
    font-size: 18px;
    color: #a7a7a7;
    margin-left: 1vw;
}

.category:link, .category:hover {
    text-decoration: none;
}

.job-card {
    flex-basis: 30% !important;
}

.pickedCategory {
    color: #485696;
    font-weight: bold;
}

.unselect-category, .unselect-category:hover {
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 16px;
}

.unselect-category .chip{
    color: black;
    margin-left: 15px;
    background-color: #dbdbdb;
}
