.search-results {
    flex: 1;
}

.search-title {
    display: inline-flex;
    word-break: break-word;
}

.filter-card {
    padding: 15px;
    margin-right: 3vw;
    min-width: 10vw;
}

h4 {
    color: #485696;
}

.category {
    font-size: 18px;
    color: #a7a7a7;
    margin-left: 1vw;
}

.category:link, .category:hover {
    text-decoration: none;
}

.job-display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.job-card {
    flex-basis: 30% !important;
}

.pickedCategory {
    color: #485696;
    font-weight: bold;
    margin-left: 0.5vw;
}

.unselect-category {
    color: black;
}
