.home-banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-banner-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.title-and-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: min-content;
}

.home-search-form {
    margin: 0;
    padding: 10px;
    width: 70vw;
    max-width: 1184px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(38px);
    border-radius: 70px;
}

.home-search-bar:focus {
    outline: none;
    border: transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.home-search-location {
    width: 35%;
}

.search-instructions {
    margin-bottom: 20px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
}

.search-instruction-step {
    display: flex;
    align-items: center;
}

.search-instructions-text {
    margin: 0 8px;
    font-size: 1.05rem;
    font-weight: bold;
}

.search-form-error {
    position: absolute;
    background-color: #ef6a6a;
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-top: 5px;
    padding: 10px;
}

.search-inputs {
    display: flex;
    justify-content: space-around;
}

.custom-select {
    height: 100%;
    padding: 0 4%;
    border-radius: 30px;
    font-size: 1.2rem;
}

.home-search-bar-row {
    margin: 0 1%;
}

.home-search-bar-container {
    width: 45%;
}

.home-search-bar {
    border: transparent;
    border-radius: 40px;
    padding: 1% 4%;
    font-size: 1.2rem;
    flex-basis: 50%;
    /*margin: 0 2% 0 5%;*/
}

.landing-title {
    color: white;
    margin: 30px;
    font-weight: bold;
}

.landing-instructions-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;

    flex-wrap: wrap;
}

.landing-instruction-outer-border {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcb839;
    border-radius: 45px;
    padding: 5px;
    margin: 20px;
}

.landing-instruction-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #485696;
    border-radius: 40px;
    height: 150px;
    width: 150px;
    text-align: center;
}

.landing-instruction-inner h3 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.landing-instruction-inner p {
    line-height: 1;
    margin-bottom: 0;
}

.landing-instruction-inner img {
    margin-bottom: 10px;
    height: 60px;
}

.landing-content-container {
    padding-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
}

