@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    font-family: "Lato", sans-serif;
}

.numbered-form {
    display: inline-block;
}

.blue-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #485696;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text {
    position: absolute;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* Mensajes de error */
.form-error {
    color: red;
}
