@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    font-family: "Lato", sans-serif;
}

body {
    background-color: #efefef !important;
}

.content-container {
    width: 90vw;
    min-height: 80vh;
    max-width: 1184px;
    margin: 0 auto;
    padding: 30px 5%;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.content-container-transparent {
    width: 90vw;
    min-height: 80vh;
    max-width: 1184px;
    margin: 0 auto;
    padding: 30px 0;
}

.hr1 {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

h3 {
    font-weight: bold;
}

.form-step {
    display: flex;
}

.blue-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #485696;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text {
    position: absolute;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle.btn-l {
    width: 50px;
    height: 50px;
    padding: 10px 12px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.breadcrumb {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.numbered-form {
    display: inline-block;
}

.blue-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #485696;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: #ffc800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-circle {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text {
    position: absolute;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

/* Mensajes de error */
.form-error {
    color: red;
}

/*Para que palabras se muestren con solo la primer letra en mayuscula*/
.capitalize-first-letter {
    text-transform: lowercase;
    margin: 0;
}

.capitalize-first-letter::first-letter {
    text-transform: uppercase;
}

/*Para sombras de las cards*/
.custom-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px !important;
}

.form-control {
    border: transparent;
    background-color: #e8e8e8;
}

.form-control:focus {
    background-color: #e8e8e8;
}

/* Para el div que se muestra cuando hubo un error en la busqueda o no se encontraron resultados */
.result-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.result-div .fas {
    font-size: 10rem;
}

.result-sub-text {
    font-size: 1.3rem;
}

.result-div {
    text-align: center;
    width: 100%;
    margin: 50px 0;
}

.card {
    border: transparent !important;
}

.custom-row {
    display: flex !important;
    flex-wrap: wrap;
}

/* Para ratings */
.star {
    color: #FCB839;
    font-size: 22px;
}

.rating p {
    color: gray;
    margin-left: 10px;
    font-size: 16px;
}

.chip {
    background-color: #485696;
    border-radius: 12px;
    color: white;
    padding: 6px;
    margin: 0 10px 20px;
    text-align: center;
    line-height: 1;
}

.gray-chip {
    background-color: #f5f5f5;
    border-radius: 18px;
    color: white;
    padding: 6px 12px;
    margin: 2px;
    text-align: center;
    line-height: 1;
    width: max-content;
}

/*Para precio, se utiliza en JobCard y en ServiceCard*/
.price-container {
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
    border-radius: 15px;
    background-color: #485696;
}

.price {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: normal;
}

/*YELLOW BUTTON*/
.hirenet-blue-btn {
    font-weight: bold;
    background-color: #485696;
    border: transparent;
}

.hirenet-blue-btn:active, .hirenet-blue-btn:focus {
    background-color: #485696 !important;
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem rgba(52, 62, 109, 0.35) !important;
}

.hirenet-blue-btn:hover {
    background-color: #343e6d;
}

/*YELLOW BUTTON*/
.hirenet-yellow-btn {
    font-weight: bold;
    background-color: #fcb839;
    border: transparent;
}

.hirenet-yellow-btn:active, .hirenet-yellow-btn:focus {
    background-color: #fcb839 !important;
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem rgba(52, 62, 109, 0.35) !important;
}

.hirenet-yellow-btn:hover {
    background-color: #c48d26;
}

/*PARA QUE EL BOTON QUEDE CENTRADO*/
.submit-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-step-title {
    font-weight: bold;
}

.img-upload-disclaimer {
    color: #7e7e7e;
}

/*Site Header*/
.site-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}

.site-header h3 {
    position: absolute;
    margin: 0;
    color: white;
}

.header-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

/*SERVICE CARD*/
.service-link, .service-link:link {
    text-decoration: none;
}

.service-img {
    border-radius: 15px;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.service-info {
    min-width: 70%;
}

.service-title {
    color: #485696;
    line-height: 1.1em;
    font-size: 1.2rem;
    width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.service-subtitle {
    color: gray;
    margin: 0;
}

.service-contracted-times {
    color: gray;
    margin-top: 10px;
    align-items: center;
}

.service-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 5px;
    margin-top: 10px;
    flex: 1;
    margin-left: 12px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    height: max-content;
}

.service-controls-container i {
    margin-left: 0;
}

.service-control-edit {
    text-align: left;
    width: 100%;
    padding: 2px;
}

.service-control-edit:hover {
    text-decoration: none;
    color: #007bff;
    border-radius: 5px;
    background-color: #e8e8e8;
    width: 100%;
}

.service-control-delete {
    color: red;
    text-align: left;
    padding: 2px;
    width: 100% !important;
}

.service-control-delete:hover {
    text-decoration: none;
    color: red;
    border-radius: 5px;
    background-color: #e8e8e8;
    width: 100%;
}

/*INPUTS DE FORMS*/
.custom-input {
    font-size: 16px;
}

.custom-label {
    font-weight: bold;
}

.hirenet-grey-outline-btn {
    border-color: #7e7e7e !important;
    color: #7e7e7e !important;
    background-color: transparent !important;
}

.hirenet-grey-outline-btn:hover {
    background-color: #7e7e7e !important;
    border-color: #7e7e7e !important;
    color: white !important;
}

.hirenet-grey-outline-btn:active:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 108, 108, 0.5) !important;
}

/*White button*/
.hirenet-white-btn {
    font-weight: bold;
    background-color: white;
    border: transparent;
}

.hirenet-white-btn:active, .hirenet-white-btn:focus {
    border-color: transparent !important;
    outline: none !important;
}

.hirenet-white-btn:hover {
    background-color: #e8e8e8;
}

/*REVIEW CARD*/
.reviews-rate {
    font-size: 80px;
    margin: 0;
}

.reviews-rate-stars i {
    font-size: 30px;
}

.reviews-summary-gray-text {
    color: gray;
    font-size: 18px;
    margin-bottom: 0;
    min-width: 2em;
}

.progress {
    margin: 0 10px;
    width: 100px;
    height: 8px;
}

.review-header {
    word-break: break-word;
    flex: 1;
    align-self: center;
    padding: 0;
    margin-left: 15px;
}

.review-title {
    font-weight: bold;
}

.review-link {
    color: #485696;
}

.review-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.profile-image-container {
    display: flex;
    justify-content: center;
}

.job-display-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contract-control-accept {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    background-color: #7BC778;
    color: white;
}

.contract-control-accept:hover {
    background-color: #5b9a57;
    color: white;
}

.contract-control-reject {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    background-color: #E26767;
    color: white;
}

.contract-control-reject:hover {
    background-color: #bf5151;
    color: white;
}

.contract-control-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2px;
    color: #8690FA;
}

.contract-control-details:hover {
    text-decoration: none;
    border-radius: 5px;
    background-color: #e8e8e8;
    color: #8690FA;
    width: 100%;
}

.contract-control-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2px;
    color: #485696;
}

.contract-control-contact:hover {
    text-decoration: none;
    border-radius: 5px;
    background-color: #e8e8e8;
    width: 100%;
}

.contract-control-rate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2px;
    color: #FCB839;
}

.contract-control-rate:hover {
    text-decoration: none;
    border-radius: 5px;
    background-color: #e8e8e8;
    width: 100%;
    color: #FCB839;
}

.contract-control-details p {
    margin-bottom: 0;
}

.contract-control-contact p {
    margin-bottom: 0;
}

.contract-control-rate p {
    margin-bottom: 0;
}

.contact-modal-row {
    padding: 10px;
    margin: 5px;
    width: max-content;
}

.divider-bar-thick {
    margin: 2px;
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #c8c8c8;
    height: 1px;
}

.removed-post-disclaimer {
    background-color: #ffedbc;
    border: 1px solid rgb(182, 132, 35);
    color: rgb(182, 132, 35);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 10px 0 10px;
    opacity: 0.8;
}

#details-modal-image {
    width: 100%;
    padding: 20px;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
    background-color: #485696;
}

#details-modal-image-header {
    display: inline-block;
    width: max-content;
}

#details-modal-description {
    border-radius: 10px;
    background-color: #e8e8e8;
    padding: 8px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    word-break: break-word;
}

#details-image-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 10px;
}

#details-description-container {
    width: 45%;
}

.hire-details-container {
    display: flex;
    justify-content: space-between;
    background-color: #485696;
    border-radius: 2rem;
    width: 98%;
    margin: 10px auto;

}

.hire-details-container p {
    margin-bottom: 0;
}

.hire-user-container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    color: white;
}

.hire-date-container {
    background-color: white;
    color: #485696;
    border-radius: 2rem;
    padding: 5px 10px;
    margin: 7px;
}

.user-avatar {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    min-width: 30px;
    min-height: 30px;
    margin: 0 10px 0 2px;
    object-fit: cover;
}

.hired-package-title {
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    size: 1.1rem;
}

.cancelled-contract {
    background-color: #FDCDCD;
    border: 2px solid #E26767;
    color: #E26767;
    border-radius: 2rem;
    width: 98%;
    margin: 10px auto;
    padding: 5px 10px;
}

.finalized-contract {
    background-color: #EEFFED;
    border: 2px solid #54AA51;
    color: #54AA51;
    border-radius: 2rem;
    width: 98%;
    margin: 10px auto;
    padding: 5px 10px;
}
