<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="defaultPattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern:-}</pattern>
        </encoder>
    </appender>

    <logger name="ar.edu.itba.paw" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

<!--    <logger name="org.springframework.security" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->

    <logger name="org.postgresql" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>